<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'socialapp/style.css' %}">
</head>
<body>
<form action="{% url 'socialapp:vote' socialpost.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ socialpost.post_title }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in socialpost.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
</fieldset>
<nav>
<input type="submit" value="Vote">
<button type="button" class="btn btn-primary" onclick="window.location.href = '{% url 'socialapp:results' socialpost.id%}'">See Votes</button>
<button type="button" class="btn btn-primary" onclick="window.location.href = '{% url 'socialapp:index' %}'">Home</button>
</nav>
</form>
</body>
</html>